<!DOCTYPE html>
<html>
<head>
    <title>Mashup Generator</title>
</head>
<body>

<h2>YouTube Mashup Generator</h2>

<form action="/send" method="POST">
    Singer Name: <input type="text" name="singer" required><br><br>
    Number of Videos: <input type="number" name="num" required><br><br>
    Duration (seconds): <input type="number" name="duration" required><br><br>
    Email: <input type="email" name="email" required><br><br>

    <button type="submit">Create Mashup</button>
</form>

</body>
</html>
